*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #487346;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%234c8e43' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%236aac5f' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%234c8e43' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%236aac5f' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%2389CC7C' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%23768c3a' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%2396ac58' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23B6CC76' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%2396ac58' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%23768c3a' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23B6CC76' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%23768c3a' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23B6CC76' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%2396ac58' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23B6CC76' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
height: 100vh;
}

.card {
    margin:100px auto;
    background-color: rgb(73, 59, 59);
    width: 400px;
    height: 450px;
    padding: 20px;
}

.header{ 
    color: #ffffff; 
    display: flex;
    justify-content:space-between;
    font-size: 20px;
}

.img {
    /* width: 90%; */
    display: flex;
    justify-content: center;
    transition: 0.5s;
}

.img img {
    width: 60%;
    object-fit: cover;
    border-radius: 50%;
}

.title {
    color: #ffffff;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    transition: 0.5s;
}

.title h4 {
    margin-bottom: 5px;
}

.size{
    display: flex;
    color: #ffffff;
    font-size: 20px;
    margin-top: 20px;
    align-items: center;
    margin-top: 150px;
}

.size h4 {
    margin-right: 10px;
}

.size p {
    margin-right: 10px;
    border: 1px solid #ffffff;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(43, 164, 101)
}

.button button {
    margin-top: 20px;
    background-color: rgb(43, 164, 101);
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    margin-right: 10px;
}


.card:hover .img {
    transform: translateY(-90px) rotate(-20deg)
}

.card:hover .title {
    transform: translate(-100px , -40px)
}

.size , .button {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.4s;
}

.card:hover .size , 
.card:hover .button {
    margin-top:0px;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}